<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
<div>
      <div class="container container-fluid text-center">
        <h3>Advertisement container</h3>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- <video autoPlay={true}
                    playsInline
                    poster="assets/teach5.jpg"
                    src="https://media.w3.org/2010/05/sintel/trailer_hd.mp4"
                /> -->
                <div class="col-md-6 text-center">
                    <video width="520" height="340" controls>
                        <source src="https://media.w3.org/2010/05/sintel/trailer_hd.mp4" 
                        type="video/mp4">
                        <source src="movie.ogg" type="video/ogg">
                      Your browser does not support the video tag.
                      </video>
                </div>
                <div class="col-md-6 text-center">
                    <iframe width="520" height="340" src="https://www.youtube.com/embed/cUrTSEyZl2s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
      </div>
  </div>